body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1rem;
    background-size: cover;
}

header {
    background-color: #c41c1c;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    background-color: #c41c1c;
    padding: 0;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 2rem;
}

.car-info {
    text-align: center;
    margin-bottom: 2rem;
}

.car-info img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
